body {
    background-color: #F1F4F9;
    width: 100%;
    height: 100%;
}

.background-container {
    position: relative;
    /* Untuk posisi teks */
    height: 520px;
    /* Tinggi area background */
    background-image: url('../img/background-homepage.png');
    /* Gambar background */
    background-size: cover;
    /* Agar gambar menyesuaikan area */
    background-position: center;
    /* Posisi gambar di tengah */

    align-items: center;
    /* Rata tengah vertikal */
    font-size: 2rem;
    /* Ukuran font */
    font-family: Arial, sans-serif;
    /* Font tulisan */
    width: 100%;

}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262261B3;

    /* Warna overlay dengan 70% opacity */
    z-index: 1;
}

.text-content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-align: left;
    height: 312px;
    top: 104px;

    max-width: calc(100% - 40px);
    /* Hindari overflow */
    margin: 0 auto;
    /* Pastikan elemen terpusat */

}

.SiTatib h5 {
    text-align: center;
}

.SiTatib p {
    display: flex;
    justify-content: center;
    /* Rata tengah secara horizontal */
    align-items: center;
    /* Rata tengah secara vertikal */
    height: 330px;
    /* Tinggi penuh viewport */
    margin: 0;
    /* Hapus margin default */
    font-family: Arial, sans-serif;
    /* Font untuk konten */
}